.input-control {
    &__error-msg {
        font-size: 0.6rem;
        color: #ff0000;

    }
}

@media screen and (min-width: 768px) {
    .fieldset {
        &:hover {
            .fieldset__label {
                transform: translateY(-100%);
            }
    
            .fieldset__legend {
                background-color: #4c71fe;
                color: white;
            }
        }
    }
}