.input-control {
    &__error-msg {
        font-size: 0.6rem;
        color: #ff0000;

    }
}

@media screen and (min-width: 768px) {
    .fieldset {
        &:hover {
            .fieldset__label {
                transform: translateY(-100%);
            }
    
            .fieldset__legend {
                background-color: #4c71fe;
                color: white;
            }
        }
    }
}

// Résout le problème de sélection sur écrans tactiles : l'effet hover ne gêne pas la sélection, évitant que le fond décoratif reste après désélection
@media (pointer: fine) {
// Ecrans non-tactiles
.ingredient {
    &:hover {
        .ingredient__bg {
            display: flex;
        }
    }
    }
}