@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: normal;
    src: url('../../../fonts/oleo/OleoScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: bold;
    src: url('../../../fonts/oleo/OleoScript-Bold.ttf') format('truetype');
}


.oleo_font {
    font-family: "Oleo Script", system-ui;
}