@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: normal;
    src: url('../../../fonts/oleo/oleo-script-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: bold;
    src: url('../../../fonts/oleo/oleo-script-regular.ttf') format('truetype');
}


.oleo_font {
    font-family: "Oleo Script", system-ui;
}